<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Chrome Suite" parallel="tests" thread-count="2">
    <test name="Desktop Chrome">
        <parameter name="env" value="desktop.chrome"/>
        <classes>
            <class name="testng.com.automationpractice.AuthTests"/>
            <class name="testng.com.automationpractice.BasketTests"/>
        </classes>
    </test> <!-- Test -->
    <test name="Desktop Firefox">
        <parameter name="env" value="desktop.firefox"/>
        <classes>
            <class name="testng.com.automationpractice.AuthTests"/>
            <class name="testng.com.automationpractice.BasketTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->